[Unit]
Description=Fingerprint Attendance System
After=network.target

[Service]
Type=simple
Environment="PATH=/home/rudra/maverick/sas-r/sas/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/rudra/maverick/sas-r/sas/bin/python /home/rudra/maverick/sas-r/updates/attendance.py
WorkingDirectory=/home/rudra/maverick/sas-r/updates
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=rudra

[Install]
WantedBy=multi-user.target
